:root {
    --color-gray-0: #FFFFFF;
    --color-gray-50: #F3F3F3;
    --color-gray-100: #F0F0F0;
    --color-gray-200: #EBEBEB;
    --color-gray-300: #D7D7D7;
    --color-gray-400: #BFBFBF;
    --color-gray-450: #B6B6B6;
    --color-gray-500: #A8A8A8;
    --color-gray-600: #9F9F9F;
    --color-gray-650: #939393;
    --color-gray-700: #8B8B8B;
    --color-gray-1000: #595959;
    --color-gray-1100: #484848;
    --color-gray-1150: #404040;
    --color-gray-1200: #3F3F3F;
    --color-gray-1400: #1B1B1B;

    --color-red-150: #E3261B;
    --color-red-300: #B3261E;
}