:root {
    /*
    Size primitive design tokens
    */
    --size-4: 1rem;
    --size-8: 2rem;
    --size-12: 3rem;
    --size-16: 4rem;
    --size-20: 5rem;
    --size-24: 6rem;
    --size-28: 7rem;
    --size-32: 8rem;
    --size-36: 9rem;
    --size-40: 10rem;
    --size-44: 11rem;
    --size-48: 12rem;
    --size-52: 13rem;
    --size-56: 14rem;
    --size-60: 15rem;
}