@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    /*
    Typography base primitive design tokens
    */
    --font-family-inter: 'Inter';
    --font-family-sans-serif: sans-serif;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    --font-size-7xl: 4.5rem;
    --font-size-8xl: 6rem;
    --font-size-9xl: 8rem;

    --line-height-xs: calc(1 / 0.75);
    --line-height-sm: calc(1.25 / 0.875);
    --line-height-base: calc(1.5 / 1);
    --line-height-lg: calc(1.75 / 1.125);
    --line-height-xl: calc(1.75 / 1.25);
    --line-height-2xl: calc(2 / 1.5);
    --line-height-3xl: calc(2.25 / 1.875);
    --line-height-4xl: calc(2.5 / 2.25);
    --line-height-5xl: calc(1);
    --line-height-6xl: calc(1);
    --line-height-7xl: calc(1);
    --line-height-8xl: calc(1);
    --line-height-9xl: calc(1);

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    /*
    Typography derived primitive design tokens
    */
    --font-size--line-height-xs: var(--font-size-xs)/var(--line-height-xs);
    --font-size--line-height-sm: var(--font-size-sm)/var(--line-height-sm);
    --font-size--line-height-base: var(--font-size-base)/var(--line-height-base);
    --font-size--line-height-lg: var(--font-size-lg)/var(--line-height-lg);
    --font-size--line-height-xl: var(--font-size-xl)/var(--line-height-xl);
    --font-size--line-height-2xl: var(--font-size-2xl)/var(--line-height-2xl);
    --font-size--line-height-3xl: var(--font-size-3xl)/var(--line-height-3xl);
    --font-size--line-height-4xl: var(--font-size-4xl)/var(--line-height-4xl);
    --font-size--line-height-5xl: var(--font-size-5xl)/var(--line-height-5xl);
    --font-size--line-height-6xl: var(--font-size-6xl)/var(--line-height-6xl);
    --font-size--line-height-7xl: var(--font-size-7xl)/var(--line-height-7xl);
    --font-size--line-height-8xl: var(--font-size-8xl)/var(--line-height-8xl);
    --font-size--line-height-9xl: var(--font-size-9xl)/var(--line-height-9xl);
}