@layer reset, theme, base, layout, components, utilities;

@import "tailwindcss";

@import "./reset.css" layer(reset);

@import "./tokens/primitive/typography.css" layer(theme);
@import "./tokens/primitive/color.css" layer(theme);
@import "./tokens/primitive/size.css" layer(theme);
@import "./tokens/primitive/spacing.css" layer(theme);

@import "./tokens/semantic/typography.css" layer(theme);
@import "./tokens/semantic/color.css" layer(theme);
@import "./tokens/semantic/size.css" layer(theme);
@import "./tokens/semantic/spacing.css" layer(theme);

@layer theme {
    /*
    Light theme mapping
    */
    :root[data-theme="light"] {
        --color-primary: var(--color-gray-0);
        --color-secondary: var(--color-gray-1400);
        --color-tertiary: var(--color-gray-100);

        --color-surface-hover: var(--color-gray-700);
        --color-surface-focus: var(--color-gray-200);
        --color-surface-active: var(--color-gray-1400);
        --color-surface-disabled: var(--color-gray-1100);

        --color-border-default: var(--color-gray-600);

        --color-text-default: var(--color-gray-1400);
        --color-text-muted: var(--color-gray-1000);
        --color-text-inverse: var(--color-gray-0);
        --color-text-error: var(--color-red-300);

        --color-text-hover: var(--color-gray-1400);
        --color-text-disabled: var(--color-gray-450);

        --cursor-default: url("@/assets/cursors/cursor.svg"), auto;
        --cursor-pointer: url("@/assets/cursors/cursorPointerRotated.svg"), auto;
        --cursor-not-allowed: url("@/assets/cursors/cursorNoAction.svg"), auto;
        --cursor-text: url("@/assets/cursors/cursorText.svg") 16 16, auto;
        --cursor-ns-resize: url("@/assets/cursors/cursorNsResize.svg") 16 16, auto;
        --cursor-ew-resize: url("@/assets/cursors/cursorEwResize.svg") 16 16, auto;
    }

    /*
    Dark theme mapping
    */
    :root[data-theme="dark"] {
        --color-primary: var(--color-gray-1400);
        --color-secondary: var(--color-gray-0);
        --color-tertiary: var(--color-gray-1200);

        --color-surface-hover: var(--color-gray-700);
        --color-surface-focus: var(--color-gray-650);
        --color-surface-active: var(--color-gray-0);
        --color-surface-disabled: var(--color-gray-400);

        --color-border-default: var(--color-gray-300);

        --color-text-default: var(--color-gray-0);
        --color-text-muted: var(--color-gray-500);
        --color-text-inverse: var(--color-gray-1400);
        --color-text-error: var(--color-red-150);

        --color-text-hover: var(--color-gray-0);
        --color-text-disabled: var(--color-gray-1150);

        --cursor-default: url("@/assets/cursors/cursorInverse.svg"), auto;
        --cursor-pointer: url("@/assets/cursors/cursorPointerInverseRotated.svg"), auto;
        --cursor-not-allowed: url("@/assets/cursors/cursorNoActionInverse.svg"), auto;
        --cursor-text: url("@/assets/cursors/cursorTextInverse.svg") 16 16, auto;
        --cursor-ns-resize: url("@/assets/cursors/cursorNsResizeInverse.svg") 16 16, auto;
        --cursor-ew-resize: url("@/assets/cursors/cursorEwResizeInverse.svg") 16 16, auto;
    }

    :root[data-theme="light"] {
        --background-image: url("@/assets/background/background.png");
    }

    :root[data-theme="dark"] {
        --background-image: url("@/assets/background/backgroundInverse.png");
    }
}

@layer base {
    /*
    Semantic design tokens mapping
    */

    /*
    Mobile mapping
    */
    :root {
        --font-weight-default: var(--font-weight-400);
        --font-size--line-height-default: var(--font-size--line-height-base);
        --font-family-default: var(--font-family-inter), var(--font-family-sans-serif);

        --font-size--line-height-h1: var(--font-size--line-height-3xl);
        --font-size--line-height-h2: var(--font-size--line-height-2xl);
        --font-size--line-height-h3: var(--font-size--line-height-lg);
        --font-size--line-height-h4: var(--font-size--line-height-base);

        --font-weight-h1: var(--font-weight-600);
        --font-weight-h2: var(--font-weight-600);
        --font-weight-h3: var(--font-weight-400);
        --font-weight-h4: var(--font-weight-400);

        --font-size--line-height-p: var(--font-size--line-height-base);

        --width-navbar: 100vw;
        --height-navbar: var(--size-16);

        --width-sidebar: 60vw;
        --height-sidebar: 100vh;

        --width-footer: 100vw;
        --height-footer: var(--size-52);

        --padding-top-footer: var(--size-12);
        --padding-bottom-footer: var(--size-12);

        --padding-right-page: var(--spacing-4);
        --padding-left-page: var(--spacing-4);

        --margin-top-heading: var(--spacing-8);

        --margin-top-section: var(--spacing-8);
        --margin-bottom-section: var(--spacing-8);
        --padding-top-section: var(--spacing-8);
        --padding-bottom-section: var(--spacing-8);

        --padding-top-button: var(--spacing-2);
        --padding-left-button: var(--spacing-4);
    }

    /*
    "sm" mapping
    */
    @media (min-width: 40rem) {
        :root {
            --width-sidebar: 35vw;

            --padding-right-page: var(--spacing-4);
            --padding-left-page: var(--spacing-4);

            --margin-top-heading: var(--spacing-12);

            --margin-top-section: var(--spacing-12);
            --margin-bottom-section: var(--spacing-12);
            --padding-top-section: var(--spacing-12);
            --padding-bottom-section: var(--spacing-12);
        }
    }

    /*
    "md" mapping
    */
    @media (min-width: 48rem) {
        :root {
            --font-size--line-height-p: var(--font-size--line-height-lg);

            --padding-right-page: var(--spacing-4);
            --padding-left-page: var(--spacing-4);
        }
    }

    /*
    "lg" mapping
    */
    @media (min-width: 64rem) {
        :root {
            --font-size--line-height-h1: var(--font-size--line-height-4xl);
            --font-size--line-height-h2: var(--font-size--line-height-3xl);
            --font-size--line-height-h3: var(--font-size--line-height-xl);
            --padding-right-page: var(--spacing-8);
            --padding-left-page: var(--spacing-8);
        }
    }

    /*
    "xl" mapping
    */
    @media (min-width: 80rem) {
        :root {
            --padding-right-page: var(--spacing-16);
            --padding-left-page: var(--spacing-16);
        }
    }

    /*
    "2xl" mapping
    */
    @media (min-width: 96rem) {
        :root {
            --padding-right-page: var(--spacing-24);
            --padding-left-page: var(--spacing-24);
        }
    }

    /*
    Elements styling
    */

    /*
    Root styling
    */
    :root {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: var(--font-default);
        color: var(--color-text-default);
        color-scheme: light dark;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        cursor: var(--cursor-default);
    }

    /*
    All elements' styling
    */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-secondary) var(--color-primary);
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 100px;
    }

    *:focus-visible {
        outline: 2px solid var(--color-surface-focus);
        outline-offset: 2px;
    }

    /*
    Headings styling
    */
    h1 {
        font: var(--font-weight-h1) var(--font-size--line-height-h1) var(--font-family-default);
    }

    h2 {
        font: var(--font-weight-h2) var(--font-size--line-height-h2) var(--font-family-default);
    }

    h3 {
        font: var(--font-weight-h3) var(--font-size--line-height-h3) var(--font-family-default);
    }

    h4 {
        font: var(--font-weight-h4) var(--font-size--line-height-h4) var(--font-family-default);
    }

    p {
        font: var(--font-size--line-height-p) var(--font-family-default);
    }

    a, button:enabled {
        cursor: var(--cursor-pointer);
    }

    button:disabled {
        cursor: var(--cursor-not-allowed);
    }

    input, textarea {
        cursor: var(--cursor-text);
    }

    /*
    Extra styling
    */
    ::selection {
        color: var(--color-text-inverse);
        background-color: var(--color-surface-secondary);
    }
}

@layer layout {
    /*
    Layout
    */
    html {
        /*
        "height" of 100% makes the root fill the viewport
        */
        height: 100%;
    }

    body {
        /*
        "min-height" of 100% makes the body at least have
        the same height as the html tag, but also allows it to
        expand, as its "height" is set to "auto" by default
        */
        min-height: 100%;
    }

    #app {
        /*
        "height" of 100% makes the application have the height of the
        body, which is set to "auto" by default. As result, the application's
        height is determined based on the content.
        "min-height" of 100vh makes the application at least have
        the same height as the viewport, but also allows it to
        expand, as its "height" is set to "auto" by default
        */
        min-height: 100vh;
    }

    #app > *:first-child {
        /*
        "min-height" of 100vh makes the only root element of the application at least
        have the same height as the viewport, but also allows it to expand, as its height
        is set to "auto" by default
        */
        min-height: 100vh;
    }

    #app > *:first-child {
        background-color: var(--color-background-default);
        background-image: var(--background-image);
        background-repeat: repeat;
        background-size: 300px;
    }
}

@layer components {
    .icon-static {
        --color-icon-default: var(--color-gray-0);
        --color-icon-inverse: var(--color-gray-1400);
    }

    .icon-static-inverse {
        --color-icon-default: var(--color-gray-1400);
        --color-icon-inverse: var(--color-gray-0);
    }

    .icon-dynamic {
        --color-icon-default: var(--color-primary);
        --color-icon-inverse: var(--color-secondary);
    }

    .icon-dynamic-inverse {
        --color-icon-default: var(--color-secondary);
        --color-icon-inverse: var(--color-primary);
    }
}

/*
Utility classes used to quickly apply semantic tokens to the elements
*/

@utility bg-primary {
    background-color: var(--color-surface-primary);
}

@utility bg-secondary {
    background-color: var(--color-surface-secondary);
}

@utility bg-tertiary {
    background-color: var(--color-surface-tertiary);
}

@utility bg-hover {
    background-color: var(--color-surface-hover);
}

@utility bg-focus {
    background-color: var(--color-surface-focus);
}

@utility bg-active {
    background-color: var(--color-surface-active);
}

@utility bg-disabled {
    background-color: var(--color-surface-disabled);
}

@utility border-default {
    border-color: var(--color-border-default);
}

@utility text-default {
    color: var(--color-text-default);
}

@utility text-muted {
    color: var(--color-text-muted);
}

@utility text-inverse {
    color: var(--color-text-inverse);
}

@utility text-hover {
    color: var(--color-text-hover);
}

@utility text-disabled {
    color: var(--color-text-disabled);
}

@utility text-error {
    color: var(--color-text-error);
}

/*
Size and spacing utility classes
*/
@utility w-navbar {
    width: var(--width-navbar);
}

@utility h-navbar {
    height: var(--height-navbar);
}

@utility w-sidebar {
    width: var(--width-sidebar);
}

@utility h-sidebar {
    height: var(--height-sidebar);
}

@utility w-footer {
    width: var(--width-footer);
}

@utility h-footer {
    height: var(--height-footer);
}

@utility pt-page {
    padding-top: var(--padding-top-page);
}

@utility pb-page {
    padding-bottom: var(--padding-bottom-page);
}

@utility pr-page {
    padding-right: var(--padding-right-page);
}

@utility pl-page {
    padding-left: var(--padding-left-page);
}

@utility px-page {
    padding-right: var(--padding-right-page);
    padding-left: var(--padding-left-page);
}

@utility py-page {
    padding-top: var(--padding-top-page);
    padding-bottom: var(--padding-bottom-page);
}

@utility pr-navbar {
    padding-right: var(--padding-right-navbar);
}

@utility pl-navbar {
    padding-left: var(--padding-left-navbar);
}

@utility px-navbar {
    padding-right: var(--padding-right-navbar);
    padding-left: var(--padding-left-navbar);
}

@utility pr-sidebar {
    padding-right: var(--padding-right-sidebar);
}

@utility pl-sidebar {
    padding-left: var(--padding-left-sidebar);
}

@utility px-sidebar {
    padding-right: var(--padding-right-sidebar);
    padding-left: var(--padding-left-sidebar);
}

@utility pt-footer {
    padding-top: var(--padding-top-footer);
}

@utility pr-footer {
    padding-right: var(--padding-right-footer);
}

@utility pb-footer {
    padding-bottom: var(--padding-bottom-footer);
}

@utility pl-footer {
    padding-left: var(--padding-left-footer);
}

@utility px-footer {
    padding-right: var(--padding-right-footer);
    padding-left: var(--padding-left-footer);
}

@utility py-footer {
    padding-top: var(--padding-top-footer);
    padding-bottom: var(--padding-bottom-footer);
}

@utility mt-heading {
    margin-top: var(--margin-top-heading);
}

@utility mb-heading {
    margin-bottom: var(--margin-bottom-heading);
}

@utility my-heading {
    margin-top: var(--margin-top-heading);
    margin-bottom: var(--margin-bottom-heading);
}

@utility mt-section {
    margin-top: var(--margin-top-section);
}

@utility mb-section {
    margin-bottom: var(--margin-bottom-section);
}

@utility my-section {
    margin-top: var(--margin-top-section);
    margin-bottom: var(--margin-bottom-section);
}

@utility pt-section {
    padding-top: var(--padding-top-section);
}

@utility pb-section {
    padding-bottom: var(--padding-bottom-section);
}

@utility py-section {
    padding-top: var(--padding-top-section);
    padding-bottom: var(--padding-bottom-section);
}


@utility pt-button {
    padding-top: var(--padding-top-button);
}

@utility pr-button {
    padding-right: var(--padding-right-button);
}

@utility pb-button {
    padding-bottom: var(--padding-bottom-button);
}

@utility pl-button {
    padding-left: var(--padding-left-button);
}

@utility px-button {
    padding-right: var(--padding-right-button);
    padding-left: var(--padding-left-button);
}

@utility py-button {
    padding-top: var(--padding-top-button);
    padding-bottom: var(--padding-bottom-button);
}

@utility p-button {
    padding: var(--padding-top-button) var(--padding-right-button) var(--padding-bottom-button) var(--padding-left-button);
}

@utility cursor-default {
    cursor: var(--cursor-default);
}

@utility cursor-pointer {
    cursor: var(--cursor-pointer);
}

@utility cursor-not-allowed {
    cursor: var(--cursor-not-allowed);
}

@utility cursor-text {
    cursor: var(--cursor-text);
}

@utility cursor-ew-resize {
    cursor: var(--cursor-ew-resize);
}

@utility cursor-ns-resize {
    cursor: var(--cursor-ns-resize);
}