.dropdown-enter-from {
    opacity: 0;
    transform: translateY(-10px) scaleY(0);
}

.dropdown-enter-to {
    opacity: 1;
    transform: translateY(0) scaleY(1);
}

.dropdown-enter-active {
    transition: opacity 200ms ease, transform 200ms ease;
    transform-origin: top;
}

.dropdown-leave-from {
    opacity: 1;
    transform: translateY(0) scaleY(1);
}

.dropdown-leave-to {
    opacity: 0;
    transform: translateY(-10px) scaleY(0);
}

.dropdown-leave-active {
    transition: opacity 200ms ease, transform 200ms ease;
    transform-origin: top;
}